<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.rtl.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.silver.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.mobile.all.min.css" />
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>


    
    
    <script>
        $(document).ready(function () {
            //debugger;
            var remoteDataSource = new kendo.data.DataSource({
                //type: "odata",
                //dataType: "json",
                transport: {
                    //read: "http://localhost:15258/odata/OlympicEx"
                    read:
                    {
                        url: "http://localhost:15258/odata/OlympicEx?$inlinecount=allpages"
                    }                    
                },
                pageSize: 5,
                schema: {                    
                    data: function (data) {
                        //debugger;
                        return data.value;
                    },
                    total: function (data) {
                        //debugger;
                        return data["odata.count"];

                    },
                    model: {
                        fields: {
                            LastDate: { type: "date", format: "{0:MM/dd/yyyy}" },
                            SecurityCode: { type: "string" },
                            SecurityName: { type: "string" },
                            SecurityType: { type: "number" },
                            IBLCProfile: { type: "number" },
                            ISIN: { type: "string" },
                            IsAAA: { type: "number" }
                        }
                    }
                },
                error: function (e) {
                    //debugger;
                    alert("Error");
                },
                change: function (e) {
                    //debugger;
                    //alert("Change");
                },
                requestStart: function (e) {
                    //debugger;
                    //alert("Request Start");
                }
            });
            //remoteDataSource.read();            
            //debugger;
            $("#grid").kendoGrid({
                //dataSource: {
                //    type: "odata",
                //    dataType: "json",
                //    transport: {
                //        read: "http://localhost:15258/odata/OlympicEx"
                //    },
                //    schema: {
                //        model: {
                //            fields: {
                //                LastDate: { type: "date" },
                //                SecurityCode: { type: "string" },
                //                SecurityName: { type: "string" },
                //                SecurityType: { type: "number" },
                //                IBLCProfile: { type: "number" },
                //                ISIN: { type: "string" },
                //                IsAAA: { type: "number" }                                
                //            }
                //        }
                //    },                
                //    pageSize: 20,
                //    serverPaging: true,
                //    serverFiltering: true,
                //    serverSorting: true

                //},                
                dataSource:remoteDataSource,
                height: 600,
                filterable: true,
                sortable: true,
                //pageable : true
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                }
                
            });
            //debugger;
        });

    </script>
<div id="grid"></div>



